<div class="row">    
    <div class="col-lg-12">
        <rd-widget>
            <rd-widget-body classes="no-padding">
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <div class="row">
                        <fieldset class="form-group col-sm-12 col-md-12 col-xs-12">
                            <label for="exampleSelect1">Driver ID</label>
                            <select name="reward_driver_id" class="form-control" id="reward_driver_id"
                             ng-model="driverForm.reward_driver_id"
                             ng-options="reward_driver_id.Name for reward_driver_id in driverIdList"
                             ng-required="true">
                                <option value=''>Select</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group col-sm-12 col-md-12 col-xs-12">
                            <label  for="exampleSelect4">Reward / Recognition</label>
                            <select
                                chosen
                                multiple
                                allow-single-deselect="true"
                                data-placeholder="Choose Your Reward"
                                no-results-text="'Tough luck'"
                                ng-model="driverForm.reward"
                                ng-options="value for value in optionsFromQuery"
                                style="width:100% !important;">
                                <option value=""></option>
                            </select>
                           </fieldset>
                            <fieldset class="form-group col-sm-12 col-md-12 col-xs-12">
                                <label  for="exampleSelect5">Remark</label>
                                <textarea ng-model="remark" name="remark" rows="2" cols="30" class="form-control" id="remark" placeholder="Remark" required >
                                </textarea>
                            </fieldset>
                    </div>
                </div>
            </rd-widget-body>
        </rd-widget>  
    </div>
</div>

    <center>
        <div >
            <a ng-click="goToNextSection(driverForm.$valid)" class="btn btn-info ">    
            Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </center>




