
<div class="row row-bottom">    
    <div class="col-lg-12">
        <rd-widget>
            <rd-widget-header icon="fa-users" title="Drivers">
                <input type="search" class="form-control input-sm" aria-controls="example" ng-model="searchText" placeholder="Search" ng-change="searchTextChanged(searchText)">
                <br>
                <a ui-sref="driver_info.driver_personal" class="btn btn-info ">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </a>
             </rd-widget-header>
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 pagination-top-bottom">
                    <div class="dataTables_length" id="example_length">
                        <label class="label-font">
                        <select name="example_length" aria-controls="example" class="form-control input-sm" ng-model="pageSize" ng-change="pageSizeChanged(pageSize)">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> <h5>records per page</h5></label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 pagination-top-bottom">                    
                </div>
            </div
           

            <rd-widget-body classes="medium no-padding table-height">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-bottom">
                        <thead>
                            <tr>
                                <!-- <th class="text-center">ID</th>
                                <th>Username&nbsp;&nbsp;<a ng-click="sort_by('Firstname,Lastname');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Role&nbsp;&nbsp;<a ng-click="sort_by('role');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Account&nbsp;&nbsp;<a ng-click="sort_by('account');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Action</th> -->
                                <th class="nowrap">Driver ID&nbsp;&nbsp;<a ng-click="sort_by('Firstname,Lastname');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th class="nowrap">Actual / Substitute&nbsp;&nbsp;<a ng-click="sort_by('Email');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th class="nowrap">First Name&nbsp;&nbsp;<a ng-click="sort_by('Contact_no');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th class="nowrap">Last Name&nbsp;&nbsp;<a ng-click="sort_by('Address');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th class="nowrap">Contact No&nbsp;&nbsp;<a ng-click="sort_by('City');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th class="nowrap">Default Vehicle No&nbsp;&nbsp;<a ng-click="sort_by('State');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th class="nowrap">Plant(s) mark one as default<a ng-click="sort_by('State');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th class="nowrap">Transporter Name<a ng-click="sort_by('State');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th class="nowrap">Transporter Code<a ng-click="sort_by('State');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th class="nowrap">Driving License - Expiry Date<a ng-click="sort_by('State');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th class="nowrap">Driver Status</th>
                                <th class="nowrap">Blacklisted</th>
                                <th class="nowrap">Blocked</th>
                                <th class="nowrap">Prifile Pic</th>
                                <th class="nowrap">Warning&nbsp;&nbsp;<a ng-click="sort_by('Created_at');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>
                                <td class="text-center">1</td>
                                <td>Joe Bloggs</td>
                                <td>Super Admin</td>
                                <td>AZ23045</td>
                                <td> 
                                    <div class="pull-left">
                                        <div class="components-container">
                                            <a class="btn btn-primary btn-mini" href="<?php echo site_url('#/edit_customer/{{x.customer_id}}'); ?>" title="Edit"><i class="fa fa-edit"></i></a>
                                            <button ng-click="destroy(x)" class="btn btn-danger btn-mini" title="Delete"><i class="fa fa-trash-o"></i></button>                                   
                                        </div>
                                    </div>
                                </td>    
                            </tr> -->
                            <tr ng-repeat = "x in activity">
                                <td class="nowrap">{{x.firstname}} {{x.lastname}}</td>
                                <td class="nowrap">{{x.email}}</td>
                                <td class="nowrap">{{x.mobile_no}}</td>
                                <td class="nowrap">{{x.address1}} {{x.address2}}</td>
                                <td class="nowrap">{{x.city}}</td>
                                <td class="nowrap">{{x.state}}</td>
                                <td class="nowrap"><img ng-src="{{x.image_url}}" alt="{{x.firstname}}"></td>
                                <td class="nowrap"><img ng-src="{{x.image_url}}" alt="{{x.firstname}}"></td>
                                <td class="nowrap"><img ng-src="{{x.image_url}}" alt="{{x.firstname}}"></td>
                                <td class="nowrap"><img ng-src="{{x.image_url}}" alt="{{x.firstname}}"></td>
                                <td class="nowrap"><img ng-src="{{x.image_url}}" alt="{{x.firstname}}"></td>
                                <td class="nowrap"><img ng-src="{{x.image_url}}" alt="{{x.firstname}}"></td>
                                <td class="nowrap"><img ng-src="{{x.image_url}}" alt="{{x.firstname}}"></td>
                                <td class="nowrap"><img ng-src="{{x.image_url}}" alt="{{x.firstname}}"></td>
                                <td class="nowrap">{{x.created_at}}</td>

                                <td class="nowrap">
                                    <div class="pull-right">
                                        <div class="components-container">
                                            
                                                    <a class="btn btn-primary btn-mini" href="#" title="Edit"><i class="fa fa-edit"></i></a>
                                                    <button ng-click="destroy(x)" class="btn btn-danger btn-mini" title="Delete"><i class="fa fa-power-off"></i></button>
                                                
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <!-- nana Mama-->
            </rd-widget-body>            
            <!--<rd-widget-footer>
                <paging
                    class="small"
                    page="currentPage" 
                    page-size="pageSize" 
                    total="total"
                    pg-href="#{{basepgHref}}/{page}"
                    adjacent="{{adjacent}}"
                    dots="{{dots}}"
                    hide-if-empty="{{hideIfEmpty}}"
                    show-prev-next="{{showPrevNext}}"
                    show-first-last="{{showFirstLast}}">
                </paging> 1
                <div class=clearfix></div>                
            </rd-widget-footer>-->


        <rd-widget>
    </div>    
</div>
<div class="row pging-bottom">
            <div class="row pagination-top-bottom">
                <!-- <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="" ole="alert" aria-live="polite" aria-relevant="all">Showing {{startItem}} to {{endItem}} of {{totalItems}} entries
                    </div>             
                </div> -->
                 <div class="col-xs-12 col-sm-12 col-md-12 pagination-right-padding">
                    Showing {{startItem}} to {{endItem}} of {{total}} entries
                    <paging
                        class="small custom-f-right"
                        pg-href="#{{basepgHref}}/{page}"
                        adjacent="{{adjacent}}"
                        dots="{{dots}}"
                        hide-if-empty="true"
                        page="currentPage" 
                        page-size="pageSize" 
                        total="total"
                        text-first="First"
                        text-last="Last"
                        text-next="Next"
                        text-prev="Prev"
                        text-title-page="Page {page} Hover Over"
                        text-title-first="First hover"
                        text-title-last="Last hover"
                        text-title-next="Next hover"
                        text-title-prev="Prev hover"
                        show-prev-next="true"
                        show-first-last="true">
                    </paging>   
                </div>
            </div>
        </div>


